<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Venda</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Vendas</strong>
		</div>
		<div class="panel-body">
			
			
			
			<form class="form-horizontal" th:object="${venda}" th:action="@{/inserirSalvarVenda}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('observacao')}? 'has-error'">
							    <label>Observação</label>
							    <input type="text" class="form-control input-sm" th:field="*{observacao}" autofocus="autofocus" placeholder="Informe a Categoria do Post" maxlength="50"/>
							</div>
						</div>											
					</fieldset>
				</div>
				
				
				<h1>Inserir Itens</h1>
				
				<div class="form-group" th:object="${itensVenda}">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('quantidade')}? 'has-error'">
							    <label>Quantidade</label>
							    <input type="text" class="form-control input-sm" th:field="*{quantidade}" autofocus="autofocus" placeholder="Informe a Categoria do Post" maxlength="50"/>
							</div>
						</div>											
					</fieldset>
				</div>
				
				<div class="form-group row">
					<button type="submit" th:value="item" name="acao" class="btn btn-sm btn-primary">Adicionar Itens</button>
					<button type="submit" th:value="salvar" name="acao" class="btn btn-sm btn-primary">Finalizar Venda</button>
					
				</div>
			</form>
			
			
		</div>
	</div>
</body>
</html>