<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{cliente/fragments/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Finalizar a Compra</title>


<!-- Google font -->
</head>
</div>
				
				<div layout:fragment="corpo">
				<div class="container" >
					<div class="row">
						<div class="container mb-4">
							<div class="row">
							<div class="col-12">
								<h3><span th:text="${cliente.nome}"></span></h3>
								<h3><span th:text="${cliente.email}"></span></h3>
								<h3><span th:text="${cliente.endereco}"></span></h3>
								<h3><span th:text="${cliente.cpf}"></span></h3>
							</div>
							<div class="col-6">
								<form th:action="@{/finalizar/confirmar}" method="post" >
								
								<select class="form-control" name="formaPagamento">
									<option value="Cartão de crédito">Cartão de crédito</option>
									<option value="Cartão de Débito">Cartão de Débito</option>
									<option value="Boleto">Boleto</option>
									<option value="Transferência">Transferência</option>
								</select>
							</div>
							
								<div class="col-12">
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">Produto</th>
													<th scope="col">Estoque</th>
													<th scope="col" class="text-center">Quantidade</th>
													<th scope="col" class="text-right">Valor Unitário</th>
													<th scope="col" class="text-right">Valor Total</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="item : ${listaItens}">
													<td><img th:src="@{/mostrarImagem/{imagem}(imagem=${item.produto.nomeImagem})}" width="100">
													</td>
													<td th:text="${item.produto.nome}"></td>
													<td>Em estoque</td>
													<td> <span th:text="${item.quantidade}"> </span>&nbsp;&nbsp;</td>
													<td class="text-right" th:text="${item.valorUnitario}"></td>
													<td class="text-right" th:text="${item.valorTotal}"></td>
													<td class="text-right"></td>
												</tr>
												
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td>Sub-Total</td>
													<td class="text-right"> <span th:text="${compra.valorTotal}"></span> </td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td>Frete</td>
													<td class="text-right"><span>Grátis</span></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td><strong>Total</strong></td>
													<td class="text-right"><strong><span th:text="${compra.valorTotal}"></span></strong></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col mb-2">
									<div class="row">
										<div class="col-sm-12  col-md-6">
											
										</div>
										<div class="col-sm-12 col-md-6 text-right">
											<button type="submit"
												class="btn btn-lg btn-block btn-danger text-uppercase">Confirmar Compra</button>
										</div>
										
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				</div>

				

</body>
</html>
