<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">

<head>
<title>PhoenixCommerce 1.0</title>
<meta charset="utf-8">

</head>

<body>


	<section class="layout-content" layout:fragment="corpo">

		<!-- Begin Page Content------------------------------------------------------------------------------->
		<div class="container-fluid">

			<div class="row justify-content-center">

				<div class="container">

					<div class="card o-hidden border-0 shadow-lg my-5">
						<div class="card-body p-0">
							<!-- Nested Row within Card Body -->
							<div class="row">

								<div class="container">
									<div class="">

										<form th:action="@{/pesquisar}" method="post">
											<div class="form-group row">
												<div class="" margin="5px">
													<input type="text" name="pesquisa" placeholder="insira o nome do produto">

													<button class="btn btn-sm btn-success" type="submit">Pesquisar</button>
												</div>
											</div>
										</form>
										
										<div class="">
											<strong>Lista de Produtos</strong>
										</div>
										<div class="">
											<div class="table-responsive">
												<table
													class="table table-sm table-striped table-hover table-bordered">
													<thead>
														<tr>
															<th>ID</th>
															<th>Nome</th>
															<th>Quantidade</th>
															<th>Preço</th>
															<th>marca</th>
															<th>categoria</th>
															<th>Imagem</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="produto : ${produtos}">
															<td th:text="${produto.id}"></td>
															<td th:text="${produto.nome}"></td>
															<td th:text="${produto.qtdeEstoque}"></td>
															<td th:text="${produto.preco}"></td>
															<td th:text="${produto.marca.nome}"></td>
															<td th:text="${produto.categoria.nome}"></td>
															<td><img th:src="@{/administrativo/produto/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" width="100"></td>
															
															<td>
																<div class="btn-group pull-right">
																	<a class="btn btn-sm btn-primary"
																		th:href="@{/administrativo/produto/editarProduto/{id}(id=${produto.id})}" >Editar</a>
																	
																	<a class="delete btn btn-sm btn-danger"
																		data-toggle="modal" data-target="#modal-warning"
																		th:attr="data-target='#modal-warning'+${produto.id }">Excluir</a>
																</div> 
																<!-- código jquery para permissão de remover -->
																<div class="modal modal-warning fade in"
																	th:id="modal-warning+${produto.id }">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<button type="button" class="close"
																					data-dismiss="modal" aria-label="Fechar">
																					<span aria-hidden="true">×</span>
																				</button>
																				<h5 class="modal-title">Fechar</h5>
																			</div>
																			<div class="modal-body">
																				<h3>Deseja realmente Remover?</h3>
																			</div>
																			<div class="modal-footer">
																				<button type="button"
																					class="btn btn-outline pull-left"
																					data-dismiss="modal">Sair</button>
																				<a type="button" class="btn btn-outline"
																					th:href="@{/administrativo/produto/removerProduto/{id}(id=${produto.id})}"><i
																					class="fa fa-check"></i>&nbsp;Sim</a>
																			</div>
																		</div>
																	</div>
																</div> 
																<!-- FIM do código jquery para permissão de remover -->
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="panel-footer">
											<a class="btn btn btn-success"
												th:href="@{/administrativo/produto/adicionarProduto/}">Adicionar</a>

											<a class="btn btn-danger" th:href="@{/administrativo}">sair</a>


										</div>








										<hr>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>










			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->
	</section>

</body>

</html>