<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org"
	xmls:layout="http://www.ultraq.net/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Situação</title>
</head>
<body>
	<h1>Situação</h1>
	<br />	
	<form method="post" action="___________________">
		Nota 1º Bimestre: <input type="number" name="n1" /> 
		Nota 2º Bimestre: <input type="number" name="n2" /> 
		Nota 3º Bimestre: <input type="number" name="n3" /> 
		Nota 4º Bimestre: <input type="number" name="n4" /> 
		<button type="submit">Verificar Situação</button>		
	</form>
	<br/>
	<p>	Você está: <span th:text="${_____________}"></span>	</p>
</body>
</html>

