<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">

<head>
<title>PhoenixCommerce 1.0</title>
<meta charset="utf-8">

</head>

<body>



	<section class="layout-content" layout:fragment="corpo">
		<!-- Begin Page Content------------------------------------------------------------------------------->
		<div class="container-fluid">

			<div class="row justify-content-center">

				<div class="container">

					<div>
						<div>
							<!-- Nested Row within Card Body -->
							<div class="row">

								<div class="col-lg-12">
									<div class="p-5">

										<div >
											<div class="panel-heading">
												<strong>Lista de Entradas</strong>
											</div>
											<div>
												<div class="table-responsive">
													<table
														class="table table-bordered">
														<thead>
															<tr>
																<th>ID_Venda</th>
																<th>Funcionário</th>
																<th>DataEntrada</th>
																<th>Observação</th>
																<th>Fornecedor</th>
																<th>ID_Item</th>
																<th>Produto</th>
																<th>Quantidade</th>
																<th>valorProduto</th>
																<th>ValorVenda</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="ie : ${entradas}">
																<td th:text="${ie.entrada.id}"></td>
																<td th:text="${ie.entrada.funcionario.nome}"></td>
																<td th:text="${ie.entrada.dataEntrada}"></td>
																<td th:text="${ie.entrada.observacao}"></td>
																<td th:text="${ie.entrada.fornecedor}"></td>
																<td th:text="${ie.id}"></td>
																<td th:text="${ie.produto.nome}"></td>
																<td th:text="${ie.quantidade}"></td>
																<td th:text="${ie.valorProduto}"></td>
																<td th:text="${ie.valorVenda}"></td>
																<!--  <td>
																	<div class="btn-group pull-right">
																		<a class="btn btn-sm btn-primary"
																			th:href="@{/administrativo/entrada/editarEntrada/{id}(id=${entrada.id})}">Editar</a>

																		<a class="delete btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-warning" 
																		th:attr="data-target='#modal-warning'+${cidade.id }">Excluir</a>
																	</div> 
																	
																	
																	<div class="modal modal-warning fade in"
																		th:id="modal-warning+${cidade.id }">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header">
																					<button type="button" class="close"
																						data-dismiss="modal" aria-label="Fechar">
																						<span aria-hidden="true">×</span>
																					</button>
																					<h5 class="modal-title">Fechar</h5>
																				</div>
																				<div class="modal-body">
																					<h3>Deseja realmente Remover?</h3>
																				</div>
																				<div class="modal-footer">
																					<button type="button"
																						class="btn btn-outline pull-left"
																						data-dismiss="modal">Sair</button>
																					<a type="button" class="btn btn-outline"
																						th:href="@{/administrativo/cidade/removerCidade/{id}(id=${cidade.id})}"><i
																						class="fa fa-check"></i>&nbsp;Sim</a>
																				</div>
																			</div>
																		</div>
																	</div> 

																</td>
																-->
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="panel-footer">
												<a class="btn btn btn-success"
													th:href="@{/administrativo/entrada/adicionarEntrada/}">Adicionar</a>


												<a class="btn btn-danger" th:href="@{/administrativo}">sair</a>


											</div>
										</div>







										<hr>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>


			<!-- /.container-fluid -->

		</div>
	</section>

</body>

</html>
