<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">

<head>
<title>PhoenixCommerce 1.0</title>
<meta charset="utf-8">

</head>

<body>


	<section class="layout-content" layout:fragment="corpo">

				<!-- Begin Page Content------------------------------------------------------------------------------->
				<div class="container-fluid">

					          <div class="row justify-content-center">

								<div class="container">

									<div class="card o-hidden border-0 shadow-lg my-5">
										<div class="card-body p-0">
											<!-- Nested Row within Card Body -->
											<div class="row">

												<div class="container">
													<div class="">
														
	
															<div class="">
																<strong>Lista de Categorias</strong>
															</div>
															<div class="">
																<div class="table-responsive">
																	<table
																		class="table table-sm table-striped table-hover table-bordered">
																		<thead>
																			<tr>
																				<th>ID</th>
																				<th>Nome</th>
														
																				<th></th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="categoria : ${categorias}">
																				<td th:text="${categoria.id}"></td>
																				<td th:text="${categoria.nome}"></td>
																				
																				<td>
																					<div class="btn-group pull-right">
																						<a class="btn btn-sm btn-primary"
																							th:href="@{/administrativo/categoria/editarCategoria/{id}(id=${categoria.id})}">Editar</a>
																						<a class="delete btn btn-sm btn-danger"
																							th:href="@{/administrativo/categoria/removerCategoria/{id}(id=${categoria.id})}">Excluir</a>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div class="panel-footer">
																<a class="btn btn btn-success"
																	th:href="@{/administrativo/categoria/adicionarCategoria/}">Adicionar</a>

																<a class="btn btn-danger"
																	th:href="@{/administrativo}">sair</a>


															</div>
													







														<hr>

													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
					
					
					
					
					
					
					
					
					
					
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

	</section>

</body>

</html>